.evidence/template/.evidence-queries
.evidence/template/.svelte-kit
.evidence/template/node_modules
.evidence/template/src
.evidence/template/static
.svelte-kit
build
node_modules
.DS_Store
data_catalog
mdsbox.db
needful_things.db